@charset "UTF-8";

 /*todas as midias*/

/* pequenas telas: até 600px
    celular: de 600px at´768px
    tablet: 769px até 992px
    Desktop: 993px até 1200ox
    grandes telas: acima de 1200px */

    @media print {
        * {
            font-family: 'Courier New', Courier, monospace;
        }
    body {
        background-image: url(../imagem/back-print.jpg); /*desnecessário*/
    }

    main {
        border: 2px solid black;
    }
    main::after {
        content: 'Essa impressão foi feita atrevés do site curso em video';
        text-decoration: overline;
    }
    img#phone { display: none;}
    img#tablet {display:none;}
    img#print {display:block;}
    img#pc {display:none;}
    img#tv {display:none;}
    }

    @media screen and (min-width: 768px) and (max-width: 992px) { /*telas de tablet */
        body {
            background-image: url(../imagem/back-tablet.jpg);
        }
        img#phone { display: none;}
        img#tablet {display:block;}
        img#print {display:none;}
        img#pc {display:none;}
        img#tv {display:none;}
    }

    @media screen and (min-width: 993px) and (max-width: 1200px) { /*telas de desktop */
            body {
                background-image: url(../imagem/back-pc.jpg);
            }
            img#phone { display: none;}
        img#tablet {display:none;}
        img#print {display:none;}
        img#pc {display:block;}
        img#tv {display:none;}
    }

    @media screen and (min-width: 1200px) { /*telas de grandes */
        body {
            background-image: url(../imagem/back-tv.jpg);
        }
        img#phone { display: none;}
        img#tablet {display:none;}
        img#print {display:none;}
        img#pc {display:none;}
        img#tv {display:block;}
    }